# Ambiente virtual
.venv/
venv/
ENV/
env/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Cache do compilador
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
var/
*.manifest
*.spec

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
*.old

# Configurações de IDEs
.vscode/
.idea/
*.code-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Arquivos de teste
htmlcov/
.tox/
.nox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code Python extension
.python-version

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Pycharm
__pypackages__/

# Outros
*.sqlite3
*.db
*.tar.gz
*.zip
*.rar
